<li class="">
	<a href="{{ post.slug }}" class="">
		{{ post.title }}
		{{ post.thumbnail }}
		<img src="{{ "300x200" | placeholder:'8393BB','ffffff' | asset_url }}">
		<!-- <img src="{{ "450x300" | placeholder:'8393BB','ffffff' | asset_url }}"> -->
	</a>
<!-- thumbnail: {{ post.thumbnail }} <br> -->
</li>